.container-fluid {
  background-image: url(/images.png);
  width: 100%;
  height: auto;
  padding: 20px;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.container-fluid {
  background-image: url(/images.png);
  width: 100%;
  height: auto;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

#button {
  font-size: 1.25rem;
  padding: 10px 20px;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  margin-right: 20px;
  font-size: 1rem;
}
